# Ignore everything by default
/*

# White-list Flutter app files/folders
!/lib/
!/pubspec.yaml
!/pubspec.lock
!/analysis_options.yaml
!/android/
!/ios/
!/linux/
!/macos/
!/windows/
!/web/
!/assets/
!/google-services.json
!/.gitignore
!/talabahamkorbot/

# Standard Flutter ignores (even for white-listed folders)
.dart_tool/
build/
.pub-cache/
.packages
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle
android/local.properties
android/key.properties
android/*.keystore
android/*.jks
ios/.symlinks
ios/Pods
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
lib/generated_plugin_registrant.dart
*.log

# Admin & Bot (Tracked)
!talabahamkorbot/
!/talabahamkorbot
/venv/

# Backend specific ignores
talabahamkorbot/__pycache__/
talabahamkorbot/.env
talabahamkorbot/nohup.out
talabahamkorbot/*.log
talabahamkorbot/*.sql
talabahamkorbot/*.zip
