<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYndw1URNh9Pu3CZANTInx5fEXyS_B-v0</string>
	<key>GCM_SENDER_ID</key>
	<string>190217311647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tengdosh.uz</string>
	<key>PROJECT_ID</key>
	<string>talabahamkor</string>
	<key>STORAGE_BUCKET</key>
	<string>talabahamkor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:190217311647:ios:REPLACE_WITH_ACTUAL_IOS_APP_ID</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190217311647-ios-placeholder</string>
</dict>
</plist>
