# Misc
.DS_Store
.idea/
.vscode/
*.zip
*.tar.gz
*.sql
*.bak
dump.rdb
nohup.out
*.log

# Flutter
.dart_tool/
build/
.pub-cache/
.packages
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle
ios/.symlinks
ios/Pods
ios/Flutter/GeneratedPluginRegistrant.h
ios/Flutter/GeneratedPluginRegistrant.m
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
lib/generated_plugin_registrant.dart

# Python / Bot (IGNORED)
venv/
__pycache__/
*.pyc
.env
*.json
!google-services.json
!docs.json

# Ignore Bot Source Code
*.py
handlers/
services/
database/
keyboards/
middlewares/
utils/
scripts/
api/
static/
requirements.txt
install.sh
*.sh
data/
migrations/
tests/
